<!doctype html>
<html lang="en">
<head>
{{> head }}
</head>
<body>
{{> navbar }}
<div class="container">
    <h1>Users Page</h1>
    <ul>
        {{#each users}}
            <li>id={{this.name}} name={{this.name}} status={{this.status}}</li>
        {{/each}}
    </ul>
</div>
</body>
</html>