body{
    margin: 0;
}
#navbar{
    height: 50px;
    background-color: coral;
    margin-bottom: 10px;
}
#cont1{
    height: 40px;
    width: 100px;
    background-color: indianred;
}
#cont2{
    height: 40px;
    width: 100px;
    background-color: blueviolet;
}
#cont3{
    height: 40px;
    width: 100px;
    background-color: aqua;
}
#cont4{
    height: 40px;
    width: 100px;
    background-color: khaki;
}