body{
    height: 100vh;
    margin: 0;
}
.navbar{
    height: 50px;
    background-color: coral;
    margin-bottom: 10px;
}

.wrapper{
    border-radius: 10px;
    height: 500px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: indianred;
}
.chat_box{
    height: 450px;
    background-color: blueviolet;
}
.form_text{
    position: relative;
    padding: 5px;
    background-color: khaki;
}
.input_text{
    width: 90%;
}
.btn{
    position: absolute;
    right: 5px;
    border: 1px solid black;
}
.btn:hover{
    background-color: black;
    color: white;
    border-color: red;
    border-radius: 0 5px 0 5px; /* top left, top right, bottom right, bottom left */
}