body{
 margin: 0;
}
.nav {
	display: flex;
	justify-content: flex-start; /* разместим справа */
	background: #6e9cc3;
}
.nav a{
    color:#fff;
    padding:15px 10px;
    text-decoration:none;
    text-align:center;
}
.nav a:hover{
    background:#5c8db7;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
    height: 100vh;
}
.container-left{
    flex-grow: 1;
    background-color: indianred;
}
.container-center{
    flex-grow: 2;
    background-color: blueviolet;
}
.container-right{
    flex-grow: 1;
    background-color: khaki;
}